<div class="columns  is-gapless is-multiline">
    <div class="content column is-12 ">
        <figure>
            <img class="bulma-center-mixin" src="https://i.ibb.co/fNJtcmW/basketballtracker-logo.png" width="full">
        </figure>
        <div class="columns is-centered">

            <div class="block column is-9">
                <div class="level panel is-warning">
                    <p class='panel-heading level-item'>About BasketBall Tracker</p>
                </div>
                <div class="box">
                    <p>Basketball Tracker is fullstack application for anyone who enjoys playing the game of basketball and
                        would
                        like to keep track of their individual performance. </p>
                        <p> If you play weekend games with your friends
                        or
                        are a part of a league, (recreational or competitive), you can use this application to record
                        some
                        notes about how you played in a particular game.</p>
                        <p> The application stores statistics for each player for each game to calculate totals and averages which are presented in a dashboard to help you evaluate your performance over time.</p>
                        <p> The application uses the following: </p>
                        <ul>
                        <li>Node.js, Express.js, express-handlebars, handlebars, express-session,
                        connect-session-sequelize</li>
                        <li>Sequelize, MySQL2, MySQL</li>
                        <li>the dotenv package, the bcrypt package</li>
                        <li>Chart.js, Bulma</li>
                        <li>model-view-controller structure</li>
                        <li>general framework provided by edX Boot Camps LLC</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/logout.js"></script>