<div class="level button is-static is-large is-fullwidth">
        <div class="level">
            <div class="level-item">
                <div class="title is-centered">All Games</div>
            </div>
        </div>
        
    </div>
{{#each games}}
<div class="columns is-centered is-gapless is-multiline game-link">
    <p id="game-id" hidden>{{id}}</p>
    <div class="column is-9">
        <div class="block box">

            
            <div class="columns">

                <button class="button is-warning is-large column is-2">{{gameDate}} </button>
                <p class='panel-heading column is-6 level-item'>Statistics Entry for {{user.username}}</p>
                    <p class="panel-heading level-item">{{score}}</p>
                    <button class="button is-large column is-3 is-static">View Game</button>
                </div>
               
            </div>
        </div>
    </div>
    {{/each}}

    <script src="./js/dashboard.js"></script>
    <script src="./js/logout.js"></script>