<form id="login">
    <label for="username">username</label>
    <input id="username">

    <label for="password">password</label>
    <input id="password">

    <button>submit</button>
</form>

<p id="feedback"></p>
<a href="/signup">Sign Up</a>

<script src="./js/login.js"></script>