<h1>Sign Up</h1>
<form id="sign-up">
    <label for="username">username</label>
    <input id="username">

    <label for="email">email</label>
    <input id="email">

    <label for="password">password</label>
    <input id="password">

    <button>submit</button>
</form>

<p id="feedback"></p>

<script src="./js/signup.js"></script>