<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulma CSS Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
</head>

<body>
    
   

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Dashboard
      </a>

      <a class="navbar-item">
          Games
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
              More
          </a>

          <div class="navbar-dropdown">
              <a class="navbar-item">
                  Stats
              </a>
              <a class="navbar-item">
                  Leaderboards
              </a>
              <a class="navbar-item">
                  Add Game
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                  Report an issue
              </a>
          </div>
      </div>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              Log out
          </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  
    <div class="hero is-fullheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box">
                <div class="column">
                    <label for="email">Email</label>
                    <input class="input is-primary" type="text" placeholder="Email address">
                </div>
                <div class="column">
                    <label for="Name">Password</label>
                    <input class="input is-primary" type="password" placeholder="Password">
                    <a href="forget.html" class="is-size-7 has-text-primary">forget password?</a>
                </div>
                <div class="column">
                    <button class="button is-primary is-fullwidth" type="submit">Login</button>
                </div>
                <div class="has-text-centered">
                    <p class="is-size-7"> Don't have an account? <a href="#" class="has-text-primary">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>